<h1><b>Game Schedule</b></h1>
<h3><i>* This is pretty tedious right now...but we're working hard to make it easier to update!  Please bear with us.</i></h3>

<br>
<% @games.each do |game| %>
<% if game.date > Time.now - 21600 %>
	<%= game.name %>:
	<%= game.date.strftime("%a, %b %d - %I:%M %Z") %>
	<%= button_to 'Add this Game', line_items_path( :game_id => game ) %>
	<br>

<% end %>
<% end %>
