<!DOCTYPE html>
<html>
  <head>
    <title>sportsPanda | Find Games Fast</title>
  </head>
  <body>
    <p id="about">
      sportsPanda is here to help you find out who's showing the game.<br><br>  If you're tired of calling up each and every sports bar asking if they're showing a specific game, then you've come to the right place.  We're making it super easy for sports fans to search by game and view which sports bars are going to be showing it.  You're not gonna find sports news or fan comments about games here.  We just want to do one thing and do it well, which is helping you find your game.  
<br><br>
We're still in beta but would love to hear your feedback.
    </p>
  </body>
</html>
