<!DOCTYPE html>
<html>
  <head>
    <title>ChanneltheGame | Find Games Fast</title>
  </head>
  <body>
    <p id="about">
      <b>Channel</b>the<b>Game</b> is here to help you find out where to watch the game.<br><br>  If you're tired of calling up each and every sports bar and asking if they're showing a specific game then you've come to the right place.  We're making it easy for sports fans to search by a specific game and see which sports bars or other venues are showing it in their area. Our mission is to do one thing and do it well, which is helping you find your game.

<br><br>If you have feedback please feel free to reach out to us at <b>contact@channelthegame.com</b>    
    </p>
  </body>
</html>
