<!DOCTYPE html>
<html>
  <head>
    <title>ChanneltheGame | Find Games Fast</title>
  </head>
  <body>
    <p id="about">
      <b>ChanneltheGame</b> is here to help you find out where to watch the game.<br><br>  If you're tired of calling up each and every sports bar asking if they're showing a specific game...then you've come to the right place.  We're making it super easy for sports fans to search by a specific game and see which sports bars are showing it in their area.  You're not gonna find a bunch of fan comments or sports news here.  Our mission is to do one thing and do it well, which is helping you find your game.  
<br><br>
We're in beta right now so don't worry.  We'll have more games and features coming soon as well as a <u><i>mobile app</i></u>.
<br><br>We're eager for your feedback.  Feel free to send us an email at <b>contact@channelthegame.com</b>    
    </p>
  </body>
</html>
