<!DOCTYPE html>
<html>
  <head>
    <title>ChanneltheGame | Find Games Fast</title>
  </head>
  <body>
    <p id="contact">
      Got feedback?  We'd love to hear it.  Send us an email at contact@channelthegame.com
    </p>
  </body>
</html>
