<!DOCTYPE html>
<html>
  <head>
    <title>ChanneltheGame | Find Games Fast</title>
  </head>
  <body>
    <p id="contact">
      Got feedback?  We'd love to hear it.<br><br>Send us an email at <b>contact@channelthegame.com</b>
    </p>
  </body>
</html>
