<!DOCTYPE html>
<html>
  <head>
    <title>sportsPanda | Games</title>
  </head>
  <body>
    <h1>Sports Events / Games</h1>
    <p>
      Choose the game you want to watch:
	 <table id="events_table">
		<% @events.each do |event| %>
		  <tr>
		    <td><%= event.name %></td>
		    <td><%= event.sport %></td>
		    <td><%= event.date %></td>
		  </tr>
		<% end %>
	 </table>
    </p>
  </body>
</html>
