<!DOCTYPE html>
<html>
  <head>
    <title>sportsPanda | Events</title>
  </head>
  <body>
    <h1>Events</h1>
    <p>
      Here are the games / sports events.
	 <table>
		<% @events.each do |event| %>
		  <tr>
		    <td><%= event.name %></td>
		    <td><%= event.sport %></td>
		    <td><%= event.date %></td>
		  </tr>
		<% end %>
	 </table>
    </p>
  </body>
</html>
