<h1>Welcome to <strong>ChanneltheGame</strong></h1>
<br>
<h2>Tired of calling up every sports bar asking if they're showing the game?  <strong>ChanneltheGame</strong> makes it way easier to find out where to watch your favorite teams and sports. <br><br><b> Find out where to watch now!</b></h2>  
	
	<br>
	<br>
		<%= link_to "Find Games", games_path, :class => "games_button round" %>
		<%= link_to "Find Sports Bars", users_path, :class => "venues_button round" %>
	</br>

	
