<h1>Welcome to sportsPanda!</h1> 

<h2>the easiest way for sports fans like you to find out which sports bars are showing the games you want to watch.</h2>

<h3>Get started by selecting one of the options below:</h3>

  </body>
	  <br>
		<%= link_to "Games", events_path, :class => "games_button round" %><%= link_to "Sports Bars", venues_path, :class => "venues_button round" %></br>
	