<h1>Welcome to sportsPanda!</h1> 

<h2>the easiest way for sports fans like you to find out which sports bars are showing the games you want to watch.</h2>


<h3>get started by searching by either games or sports bars:</h3>  
	
	<br>
		<%= link_to "Games", games_path, :class => "games_button round" %>
		<%= link_to "Sports Bars", sportsbars_path, :class => "venues_button round" %>
	</br>

	
