<h1><strong>Welcome to ChanneltheGame! (beta version)</strong></h1>
<br>
<h2>We're the easiest way to find out where to watch the game.</h2>
<br>
<h3>Find your game now and search by games or sports bars:</h3>  
	
	<br>
	<br>
		<%= link_to "Find Games", games_path, :class => "games_button round" %>
		<%= link_to "Find Sports Bars", users_path, :class => "venues_button round" %>
	</br>

	
