<h1><strong>Welcome to sportsPanda! (beta version)</strong></h1>
<br>
<h2>We're the easiest way to find out where to watch the game.</h2>
<br>
<h3>Start by searching for games or sports bars:</h3>  
	
	<br>
		<%= link_to "Games", games_path, :class => "games_button round" %>
		<%= link_to "Sports Bars", users_path, :class => "venues_button round" %>
	</br>

	
