<!DOCTYPE html>
<html>
  <head>
    <title>sportsPanda | Find Games Fast</title>
  </head>
  <body>
    <h1>Sports Bars Results</h1>
	<h2><%= @title %></h2>
    <p>  
	 <table>
		<%= @bar_results %>
	 </table>
    </p>
  </body>
</html>

