<% if success %>
<div class="result-success" style="color: green; background: transparent url(/images/success.png) no-repeat top left; padding-left: 20px">
  Game added!
</div>
<% else %>
<div class="result-fail" style="color: red; background: transparent url(/images/fail.png) no-repeat top left; padding-left: 20px">
  You've already added this game!
</div>
<% end %>